2-semester/XML/herpetolog.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="herpetolog" type="herpetologType"/>

  <xs:complexType name="herpetologType">
    <xs:sequence>
      <xs:element name="navn" type="xs:string"/>
      <xs:element name="specialisering" type="xs:string"/>
      <xs:element name="fødselsdato" type="xs:date"/>
      <xs:element name="arbejdssted" type="xs:string"/>
      <xs:element name="email" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
