2-semester/XML/herpetolog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="herpetolog" type="herpetologType"/>
  <xs:complexType name="herpetologType">
    <xs:sequence>
      <xs:element name="navn" type="xs:string"/>
      <xs:element name="specialisering" type="xs:string"/>
      <xs:element name="foedselsdato" type="xs:date"/>
      <xs:element name="arbejdssted" type="xs:string"/>
      <xs:element name="email" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>